@import url(https://fonts.googleapis.com/css?family=Montserrat);

.login-page-header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .img-logo{
        width: 10%;
    }
}

.hr-opacity50{
    opacity: 50%;
}

.text-modified{
    font: 0.7em 'Montserrat';
    font-weight: bold;
}

.login-page-main{
    margin-top: 25px;

    .card-main{
        text-align: center;    
        width: 450px;
        margin: auto;

        .text-modified{
            grid-column-start: 1;
            grid-column-end: 4
        }
    }
}
