<div class="login-page-header">
    <img class="img-logo" src="../../../assets/image-login-page/Spotify_Logo_CMYK_Black.png">
</div>
<hr class="hr-opacity50">
<div class="login-page-main">
    <div class="row">
        <div class="card-main col-12">
            <div class="col-12">
                <span class="text-modified">To continue, log in to Spotify.</span>
            </div>
            <div class="col-12">
                <button>
                    <i class="fa fa-facebook"></i>            
                    <span class="text-modified"> CONTINUE WITH FACEBOOK</span>
                </button>
            </div>
            <div class="col-12">
                <button>
                    <i class="fa fa-google"></i>            
                    <span class="text-modified"> CONTINUE WITH GOOGLE</span>
                </button>
            </div>
            <div>
                <hr class="hr-opacity50">
            </div>
        </div>
    </div>
    
</div>
